<div class="col-md-2">
  <div class="container-fluid mt-3">
    <div class="navbar navbar-expand-md navbar-light bg-lignt pl-5">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav nav nav-tabs flex-column">
          <li class="nav-item">
            <b><%= link_to "Feeds", feeds_path, { class: "nav-link text-primary" } %></b>
          </li>
          <li class="nav-item">
            <b><%= link_to "Discovers", root_path, { class: "nav-link text-primary" } %></b>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>