<!--modal photo-->
<div class="modal fade" id="modal_photo">
  <div class="modal-dialog modal-xl">
    <div class="modal-content"></div>
  </div>
</div><!--end modal Photo-->

<!--modal Album-->
<div class="modal fade" id="modal_album">
  <div class="modal-dialog modal-xl">
    <div class="modal-content"></div>
  </div>
</div>
<!--end modal Album-->