<div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
  <div class="admin-photos d-flex justify-content-center m-4 text-center">
    <% album.images.each_with_index do |photo, index| %>
      <% if (index != album.images.length - 1) %>
        <% a = ((album.images.length.to_i - index)*3).to_s %>
        <%= image_tag photo.url, {class:"rounded-sm admin-photos", style:"position: absolute; z-index: index; transform: rotate("+ a +"deg)"} %>
      <% else %>
        <%= image_tag photo.url, {class:"rounded-sm admin-photos", style:"position: absolute; z-index: index;"} %>
      <% end %>
    <% end %>
    <p class="rounded bg-secondary p-1 title-show-album" style=" position: absolute; z-index: album.images.length + 1;"><%= album.title %></b></p>
    <%= link_to edit_album_path(album)  do%>
      <i class="fas fa-edit bg-secondary icon-edit-album" style="position: absolute; z-index: album.images.length + 2;"></i>
    <% end %>
  </div>
</div>