<div class="col-md-2">
  <div class="container mt-3">
    <div class="navbar navbar-expand-md navbar-light bg-lignt p-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" collapse navbar-collapse p-0" id="collapsibleNavbar">
        <ul class="navbar-nav nav nav-tabs flex-column">
          <li class="nav-item p-0">
            <a class="nav-link text-primary" href="<%= managers_photo_path %>"><b>Manage Photos</b></a>
          </li>
          <li class="nav-item p-0">
            <a class="nav-link text-primary" href="<%= managers_album_path %>"><b>Manage Albums</b></a>
          </li>
          <li class="nav-item p-0">
            <a class="nav-link text-primary" href="<%= managers_user_path %>"><b>Manage Users</b></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>